<%-include('partials/header')%>

<div class="container col-6">
    <form action="/index" method="POST" id="form">
        <button id="Sign-up">Sign UP</button><button id="Log-in">Log IN</button>
        <div class="name">

        <input type="number" id="studentId" name="id" placeholder="Student Id"><br><br>
        <input type="text" id="firstName" name="firstName" placeholder="First Name">
      

    <input type="submit" id="submit" name="submit">
    </form>
</div>


<%-include('partials/footer')%>
<div>
    <a href="/index">GO BACK TO THE LIST</a>
</div>